# ==========================
# React / Vite
# ==========================
Forms-Frontend/node_modules/
Forms-Frontend/dist/

# ==========================
# Spring Boot / Maven
# ==========================
Forms-Backend/target/

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Environment Files
# ==========================
.env
.env.*