body{
    background-color: #87d3e6;
}

.items{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding:50px 20px;
}

h1{
    text-align: center;
    margin: 0 0 35px;
    color: #1e3a8a;
    font-size: 42px;
    font-weight: 700;
}

form{
    width: 720px;
    padding: 35px;
    background: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,.15);
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label{
    display:block;
    margin-bottom:6px;
    font-size:15px;
    font-weight:600;
    color:#173b67;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

select{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: rgb(32, 119, 218);
}

button{
    display: block;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #d0cec7;
    margin-left: 310px;
}

button:hover{
    background-color: aqua;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

input:hover{
    background-color: antiquewhite;
}

h2{
    text-align:center;
    margin:40px 0 25px;
    color:#1e3a8a;
    font-size:30px;
    border-bottom:2px solid #ddd;
    padding-bottom:10px;
}

.file{
    border-color: wheat;
}

.file :hover{
    background: none;
}

.supplier-section {
    margin-top: 50px;
}

.supplier-section .details-grid {
    margin-top: 20px;
}