.item-show-container {
  min-height: 100vh;
  /* background: #87d3e6; */
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.item-show-card {
  width: 1000px;
  background: #fff;
  border-radius: 12px;
  padding: 35px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  position: relative;
}

/* Sections */

.item-section,
.supplier-section {
  margin-bottom: 40px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 25px 30px;
  background: white;
}

.item-section h2,
.supplier-section h2 {
  text-align: center;
  color: #173b67;
  font-size: 38px;
  margin-bottom: 40px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 12px;
}

/* Grid */

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 25px;
  width: 100%;
}

/* Fields */

.field {
  display: flex;
  flex-direction: column;
}

.field strong {
  font-size: 20px;
  font-weight: 600;
  color: #173b67;
  margin-bottom: 8px;
}

.field span {
  font-size: 18px;
  color: #444;
  line-height: 1.2;
  word-break: break-word;
}

/* Files */

.file-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.file-link {
  color: #2563eb;
  font-size: 17px;
  text-decoration: none;
  transition: 0.2s;
}

.file-link:hover {
  color: #173b67;
  text-decoration: underline;
}

.item-h, .supplier-h {
  text-align: center;
  color: #173b67;
  font-size: 24px;
  margin-top: 0px;
}

.page-header{
    display:flex;
    justify-content:flex-start;
    margin-bottom:20px;
}

.back-btn{
    background:none;
    border:none;
    color:#2c5aa0;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    padding:0;
    margin:0;
    width:auto;
    font-size: 32px;
}

.back-btn:hover{
    background:none;
    color:#174a8b;
    box-shadow:none;
}

.back-btn:focus{
    outline:none;
}

/* Responsive */

@media (max-width: 768px) {
  .item-show-card {
    width: 100%;
    padding: 25px;
  }

  .details-grid {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .item-section h2,
  .supplier-section h2 {
    font-size: 34px;
  }

  .field strong {
    font-size: 18px;
  }

  .field span,
  .file-link {
    font-size: 17px;
  }

  .close-btn {
    font-size: 34px;
  }
}
