.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background-color: #e7deb3;
  border-bottom: 1px solid #d1d5db;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-nav {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #4f772d;
  transition: 0.25s;
  cursor: pointer;
}

.logo-nav:hover {
  color: #244220;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: #4f772d;
  font-size: 23px;
  font-weight: 600;
  padding: 8px 0;
  transition: 0.25s;
}

.nav-links a:hover {
  color: #28470e;
}

.nav-links a.active {
  color: #4f772d;
  border-bottom: 3px solid #4f772d;
}

.profile-container {
  position: relative;
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.25s;
  color: #374151;
  font-weight: 600;
}

.profile-button:hover {
  background: #f0ead2;
}

.profile-icon {
  font-size: 22px;
}

.arrow {
  font-size: 12px;
}

/* ==========================
   Dropdown
========================== */

.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  width: 260px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  border: 1px solid #e5e7eb;
  padding: 18px;
}

.profile-name {
  font-size: 18px;
  font-weight: 700;
  color: #153157;
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-name:hover{
  text-decoration: underline;
    transform: scale(1.06);
}

.profile-email {
  margin-top: 6px;
  font-size: 14px;
  color: #6b7280;
  word-break: break-word;
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-dropdown hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}

.logout-btn {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 12px;
  background: #dc2626;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logout-btn:hover {
  background: #b91c1c;
}
