body {
  background-color: #f4f7fe;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  margin: 30px 0;
  color: #2c5aa0;
  font-size: 48px;
  font-weight: 700;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.search-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #1f2937;
}

.search-container input {
  width: 320px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.add-btn {
  background-color: #886ae3;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #6b46c1;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.supplier-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.supplier-table th {
  background: #79c7da;
  color: rgb(20, 15, 15);
  padding: 15px;
  text-align: left;
}

.supplier-table td {
  padding: 12px;
  border: 1px solid #ddd;
  background: #fff;
  white-space: nowrap;
}

.supplier-table tbody tr:hover {
  background-color: #f3f8ff;
}

.action-column {
  width: 170px;
  min-width: 170px;
  text-align: center;
}

.edit,
.delete {
  display: inline-block;
  width: 80px;
  padding: 7px 14px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  margin: 0 5px;
  font-size: 14px;
}

.edit {
  background: #2563eb;
}

.edit:hover {
  background: #1d4ed8;
}

.delete {
  background: #ef4444;
}

.delete:hover {
  background: #dc2626;
}

.supplier-page{
    margin-left: 350px;
}