body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------- Top Bar ---------- */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.search-container {
  width: 320px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.title {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #245501;
}

.top-bar a {
  width: 320px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

/* ---------- Add Button ---------- */

.sup-add-btn {
 background: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.sup-add-btn:hover {
  background: var(--primary-color);
}


.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.supplier-table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

.supplier-table th {
  background: #f0ead2;
  color: #111;
  padding: 14px;
  text-align: center;
}

.supplier-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.supplier-table tbody tr:nth-child(even) {
  background: #f9fafb;
}

.supplier-table tbody tr:hover {
  background: #eef7ff;
}

/* ---------- Action Buttons ---------- */

.action-column {
  width: 180px;
  min-width: 180px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit,
.delete {
  display: inline-block;
  width: 40px;
  height: 20px;
  padding: 8px 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.edit {
  background: #2563eb;
}

.edit:hover {
  background: #1d4ed8;
}

.delete {
  background: #ef4444;
}

.delete:hover {
  background: #dc2626;
}

/* ---------- Responsive ---------- */

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
  }

  .search-container,
  .top-bar a {
    width: 100%;
  }

  .title {
  text-align: center;
  color: #173b67;
  font-size: 24px;
  margin-top: 0px;
  }

  .supplier-table {
    min-width: 700px;
  }
}